<%- include('header')%>


<!--------------->
<!--MAIN PIC-->
<div id="mainImg" class="carousel carousel-slide">
    <img class="d-block w-100" src="/pics/Footvolley.jpg">
  </div>
  <div class="admincon">
  <div  style="background-image: url('pics/Sand-Background 2.avif');">

  <h1>Admin Page</h1>
  <br>
  <h2>Add Product</h2>
  <form action="/admin/add" method="post">
    <input type="text" name="name" placeholder="Product Name" required
    style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
    <input type="text" name="price" placeholder="Price" required
    style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
    <input type="text" name="picture" placeholder="Picture URL" required
    style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
    <input type="text" name="category" placeholder="Category" required
    style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
    <input type="number" name="quantity" placeholder="Quantity" required
    style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
    <select name="gender"
    style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="other">other</option>
    </select>
    <button class="btn btn-sm btn-dark rounded-pill" type="submit">Add Product</button>
  </form>
<br><br>
  <!-- admin.ejs -->

<h2>Update/Delete Products</h2>
<ul>
  <% products.forEach(product => { %>
    <br>
    <li>
      <div class="product-info">
        <div class="product-details">
            <img src="<%= product.picture %>" alt="<%= product.name %> Image" class="product-image">

          <div><%= product.name %> , <%= product.price %> , <%= product.category %> , <%= product.gender %></div>
        </div>
      </div>
      <div>
      <form action="/admin/delete/<%= product._id %>" method="post" style="display:inline;">
        <button class="btn btn-sm btn-dark rounded-pill" type="submit">Delete Product</button>
      </form>
    </div>
    <br>
    <div>
      <form action="/admin/update/<%= product._id %>" method="post" style="display:inline;">
        <!-- Populate the input fields with current product details -->
        <input type="text" name="name" placeholder="New Name" value="<%= product.name %>"
        style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
        <input type="text" name="price" placeholder="New Price" value="<%= product.price %>"
        style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
        <input type="text" name="picture" placeholder="New Picture URL" value="<%= product.picture %>"
        style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
        <input type="text" name="category" placeholder="New Category" value="<%= product.category %>"
        style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
        <input type="number" name="quantity" placeholder="New Quantity" value="<%= product.quantity %>"
        style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
        <select name="gender"
        style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
          <option value="male" <%= product.gender === 'male' ? 'selected' : '' %>>male</option>
          <option value="female" <%= product.gender === 'female' ? 'selected' : '' %>>female</option>
          <option value="unisex" <%= product.gender === 'other' ? 'selected' : '' %>>other</option>
        </select>
        <button class="btn btn-sm btn-dark rounded-pill" type="submit">Update Product</button>
      </form>
    </div>
    </li>
  <% }); %>
</ul>

</div>
</div>


<%- include('footer')%>
