<%- include('header')%>

<div id="mainImg" class="carousel carousel-slide">
    <img class="d-block w-100" src="pics/golshim4 2.jpeg">
</div>

<div style="background-image: url('pics/Sand-Background 2.avif');" class="cart-page">
    <h1 >My Cart</h1>
    <% if (cartItems.length === 0) { %>
      <h4 id="empty">The Cart is Empty</h4>
    <% } else { %>
      <form id="cart" action="/cart" method="post">
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th>Total price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalPrice = 0; %>
                    <% cartItems.forEach(function(item) { %>
                        <% const product = products.find(prod => prod.name === item.name); %>
                        <% if (product) { %>
                            <tr>
                                <td><%= product.name %></td>
                                <td><%= product.price %></td>
                                <td><%= product.category %></td>
                                <td>
                                    <form class="quantity-form" action="/cart/Quantity" method="post">
                                        <input type="hidden" name="itemName2" value="<%= product.name %>">
                                        <div class="quantity-select">
                                            <select name="quantity-<%= product.name %>">
                                                <% for (let i = 1; i <= product.quantity; i++) { %>
                                                    <option value="<%= i %>" <% if (parseInt(item.quantity) === i) { %> selected <% } %>><%= i %></option>
                                                <% } %>
                                            </select>
                                            <button type="submit" class="delete-button" name="action" value="Q">Change Quantity</button>
                                        </div>
                                    </form>
                                </td>
                                <td><img class="card-img-top" style="width:50px" height="50px" src="<%= product.picture %>" alt="<%= product.name %> Image" /></td>
                                <td><%= product.price * item.quantity %></td>
                                <% totalPrice += (product.price * item.quantity); %>
                                <td>
                                    <form action="/cart/delete" method="post">
                                        <input type="hidden" name="itemName" value="<%= product.name %>">
                                        <button type="submit" class="delete-button" name="action" value="delete">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
            <p>The total price is: <%= totalPrice %> $</p>
            <button type="submit" name="action" value="buy" class="delete-button">Buy</button>
        </div>
      </form>
    <% } %>
</div>

<%- include('footer')%>
