<%- include('header')%>


   
  <!--------------->
<!--MAIN PIC-->
  <div id="mainImg" class="carousel carousel-slide">
    <img class="d-block w-100" src="/pics/men-main (1).jpeg"  >
  </div>
  <form action="/men" method="post">
    <div class="sorting-container">
      <label for="sorting">Sort By:</label>
      <select id="sorting" name="sorting">
        <option value="name">Name</option>
        <option value="price">Price</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Click to sort</button> <!-- Add class and type attribute -->
  </form>
<!------Prod Cards------->
<form action="/men/Addto" method="post">
<div id="men-prod" class="album py-5 bg-body-tertiary align-items-center" >
  <div class="container position-relative">
    <!--First Row-->
    <div class="row justify-content-center"> <!-- Add justify-content-center class here -->
      <% products.forEach(product => { %>
        <div class="col-md-4"> <!-- Add column classes to control card width -->
          <div class="thumbnail text-center">
            <% if(product.picture) { %>
              <img class="img-fluid" src="<%= product.picture %>" alt="">
            <% } else { %>
              <p>No image available</p>
            <% } %>
            <div class="caption">
              <p class="card-text font-monospace"><%= product.name %></p>
              <p class="card-text font-monospace"><strong><%= product.price %></strong></p>
            </div>
            <div class="btn-group">
              <button name="action" type="submit" class="btn btn-sm btn-dark rounded-start-pill" value="cart:<%= product.name %>">Add To Cart</button>
              <button name="action" type="submit" class="btn btn-sm btn-white btn-outline-dark rounded-end-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>
</form>

  </div>
  
  <%- include('footer')%>