<%- include('header')%>


   
  <!--------------->
<!--MAIN PIC-->
  <div id="mainImg" class="carousel carousel-slide">
    <img class="d-block w-100" src="/pics/men-main (1).jpeg">
  </div>
  <div  style="background-image: url('pics/Sand-Background 2.avif');">
    <form action="/men" method="post">
    <div class="sorting-container">
      <label class="sorting-label" for="sorting">Sort By:</label>
      <select id="sorting" name="sorting">
        <option value="name">Name</option>
        <option value="price">Price</option>
      </select>
      <button type="submit" class="sort-button">Sort</button>
    </div>
  </form>
<!------Prod Cards------->
<form action="/men/Addto" method="post">
  <div class="container position-relative">
    <!--First Row-->
    <div class="row justify-content-center"> <!-- Add justify-content-center class here -->
      <% products.forEach(product => { %>
        <div class="col-md-4"> <!-- Add column classes to control card width -->
          <div class="thumbnail text-center">
            <% if(product.picture) { %>
              <img class="img-fluid" src="<%= product.picture %>" alt="">
            <% } else { %>
              <p>No image available</p>
            <% } %>
            <div class="caption">
              <p class="card-text font-monospace"><%= product.name %></p>
              <p class="card-text font-monospace"><strong><%= product.price %></strong></p>
            </div>
            <div class="btn-group">
              <button name="action" type="submit" class="btn btn-sm btn-dark rounded-pill" value="cart:<%= product.name %>">Add To Cart</button>
              <button name="action" type="submit" class="btn btn-sm btn-dark rounded-pill" value="wishlist:<%= product.name %>">Add To Wish list</button>

            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</form>
</div>

  
  
  <%- include('footer')%>



  